<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <configSections>
  <sectionGroup name="PromotionsGroup">
    <section name="Promotions" type="System.Configuration.NameValueSectionHandler"/>
  </sectionGroup>
    </configSections>
  <PromotionsGroup>
    <Promotions>
      <add key="3ofA's" value="130"/>
      <add key="2ofB's" value="45"/>
      <add key="CAndD" value="30"/>
    </Promotions>    
  </PromotionsGroup>
  <appSettings>
    <add key="A" value="50"/>
    <add key="B" value="30"/>
    <add key="C" value="20"/>
    <add key="D" value="15"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>